<div class="section animated-row" data-section="slide03">
                <div class="section-inner">
                    <div class="row justify-content-center">
                        <div class="col-md-8 wide-col-laptop">
                            <div class="title-block animate" data-animate="fadeInUp">
<h2>{{student.first_name}}'s Classes</h2>
<table cellspacing="0" cellpadding="0">
	<thead>
		<tr>
			<th>Class ID</th>
			<th>Class Name</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{{#each student.classes}}
			<tr>
				<td>{{class_id}}</td>
				<td>{{class_title}}</td>
				<td><a href="/classes/{{class_id}}/lessons">View Lessons</a></td>
			</tr>
		{{/each}}
	</tbody>
</table>
</div>
</div>
</div>
</div>
</div>